.App {
    text-align: center;
    background-color: #282c34;
    margin: 50px;
    color: beige;
    padding: 5px;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  .screen{ 
    grid-area: sc;
    background-color: aliceblue;
    height: 70px;
    color: black;
    border-radius: 10px;
    margin: 5px;
    padding: 5px 25px 15px 5px;
    font-size: 50px;
    text-align: right;
    border: 2px solid rgb(43, 41, 41);
  }

  .operator{ 
    grid-area: op;
    display: grid;
    grid-template-columns: 100%;
    border: 2px solid red;
  }

  .o{
    color: rgb(252, 252, 252);
    background-color: rgb(222, 124, 39);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(193, 191, 191);
    border-radius: 10px;
    margin: 1px;
    padding: 5px;
    font-size: 50px;
    gap: 1px;
  }

  .operands{
    grid-area: o;
    border: 2px solid red;
    display: grid;
    padding: 3px;
    gap: 1px;
    grid-template: 
    '. . .';
  }

  .numbers{ 
    grid-area: num;
    border: 2px solid red;
    display: grid;
    padding: 3px;
    gap: 1px;
    grid-template: 
    '. . .'
    '. . .'
    '. . .'
    'z z d';
  }
  .n{
    color: black;
    padding: 18px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    padding: 5px;
    font-size: 50px;
    text-align: center;
  }

  .zero{ grid-area: z;
    border: 2px solid red;
    color: black;
    padding: 18px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    padding: 5px;
    font-size: 50px;
    text-align: center;
  }

  .dot{ grid-area: d;
    border: 2px solid red;
    color: black;
    padding: 18px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    padding: 5px;
    font-size: 50px;
    text-align: center;
  }
  
  .Main{
    display: grid;
    padding: 8px;
    gap: 1px;
    grid-template: 
    'sc sc sc sc'
    'o o o op'
    'num num num op'
    ;
    border: 2px solid blue;
  }